.Banner_container {
    position: relative;
    font-family: Arial, sans-serif;
    width: 300px;
    height: 220px;
    color: white;    
    background: url('./background.jpg') rgba(255, 255, 255, 0) no-repeat center center;
    border-radius: 8px;
}

.Banner_inner {
    width: 100%;
    padding: 10px;
}

.Button_container {
    position: absolute; 
    right: 10px;
    bottom: 10px;    
}

.Button_container:before { 
    content: ' ';
    position: absolute;
    top:0;
    left:0;    
}

.Button_container:after { 
    content: ' ';
    position: absolute;
    top:0;
    left:0;
}

.Button {
    background-color: #FF9838;
    color:#fff;
    text-shadow: 1px 1px 1px #ef6d04,-1px -1px 1px #ef6d04,1px -1px 1px #ef6d04, -1px 1px 1px #ef6d04;    
    border:2px solid #fff;
    padding: 0 12px;
    border-radius: 35px;
    display: block;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.Text_container {
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif;
    display: block;
    width:80%;
}

.Text {
    display: block;
    text-shadow: 2px 2px 0px #006,0px 0px 1px #006, 1px 1px 0px #006;
    letter-spacing: 1px;
}

.Button_container,.Button {
    width: 160px;
    height: 38px;
}
