{
  "presets": [
    [
      "env",
      {
        "targets": { "browsers": ["last 2 android versions"] },        
        "useBuiltIns": true,
        "debug": true,
        "modules": false
      }
    ],
    "react",
    "es2015"
  ],
   "plugins": [
      ["transform-object-rest-spread",
        {
          "useBuiltIns": true
        }
      ]
    ]
}