{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "ios >= 7"
          ]
        },
        "useBuiltIns": true,
        "debug": false,
        "modules": false
      }
    ],
    "react"    
  ],
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-umd",
    "transform-object-rest-spread"
  ]
}