{
  "presets":[
              "es2015",
              "babel-preset-react",
              "babel-preset-stage-2"
              ],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}