:root {    
  --bandai-font: 'pixel_emulatorregular', Verdana, Geneva, sans-serif;  
}

.main {
    position: fixed;    
    width: 100%;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background 300ms;
    font-family: var(--bandai-font);
    z-index:8100;
    
}

.main.show {    
    display: block;    
    background-color:rgba(0, 0, 0, 0.3);
    height: 100%;
    overflow-y: scroll;
}