@value background_orange: #FF9900;

.container {
    composes: bandaiBorder from "./bandaiBorder.css";    
    position: absolute;
    left: 0;
    right: 0;    
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    width: 85%;
    max-width: 480px;
    height: auto;
    padding: 15px 0;
}

.formContainer {
    display: table;
    height: 100px;
    width: 100%;
}

.form {
    display: table-cell;
    vertical-align: middle;
}

.title {    
    color: background_orange;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
}

.element {
    width: 50%;
    display: inline-block;    
    text-align: center;
}

.inputBlock {
    display: inline-block;
}

.inputLetter {
    display: inline-block;
    font-family: inherit;
    margin: 0 1px 0 0;
    padding: 0;
    border: 0;
    width: 30px; /** relative? */
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    border-radius: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    background: black;
    color:white;
    border-bottom: solid 2px #969696;
}

.inputLetter::placeholder {
  color: white;
  opacity: 0.5;
}

.closeButton {
    position: absolute;
    top:0;
    right: 0;
    width: 15px;
    height: 15px;
    border: 0;
    background: transparent;    
    background-image: url('./closeButton.svg');
    background-repeat: no-repeat;
}

@keyframes blink {
   50% { border-color: white; } 
}

.inputLetter.focus,
.inputLetter:focus {
    outline: none;
    border-bottom: solid 2px #969696;
    animation: blink .2s step-end infinite alternate;
}
