@value height: 120px;
@value width: 280px;
@value background_orange: #FE9326;

.main {
    position: fixed;
    width:  100%;
    top: 0;
    height: 0;
    background-color : transparent;
    transition: background 300ms;
}

.main.show {
    display: block;    
    background-color: transparent;
    height: 100%;
}

.container {    
    position:relative;
    width: width;
    height: height;
    margin: 6% auto 0 auto;
    background: #000; 
    background:  linear-gradient(135deg, background_orange 3px, #000 0) top left,
                 linear-gradient(225deg, background_orange 3px, #000 0) top right,
                 linear-gradient(315deg, background_orange 3px, #000 0) bottom right,
                 linear-gradient(45deg,  background_orange 3px, #000 0) bottom left;
    background-size: 50% 50%; 
    background-repeat: no-repeat;
    border-radius: 12px;
    border:5px solid background_orange;
}

/** TODO: do better media queries */
@media (width >= 0px) and (width <= 320px) {
  .container {
      width: 280px;
  }
}

@media (width >= 350px) and (width <= 480px) {
  .container {
      width: 320px;
  }
}

@media (width >= 480px) {
  .container {
      width: 400px;
  }
}

.formContainer {
    display: table;
    height: 100px;
    width: 100%;
}

.form {
    display: table-cell;
    vertical-align: middle;
}

.title {
    font-family: 'pixel_emulatorregular', Verdana, Geneva, sans-serif;
    color: orangered;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

.element {
    width: 50%;
    display: inline-block;    
    text-align: center;
}

.inputBlock {
    display: inline-block;
}

.inputLetter {
    font-family: 'pixel_emulatorregular', Verdana, Geneva, sans-serif;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 30px; /** relative? */
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    border-radius: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    background: black;
    color:white;
    border-bottom: solid 2px transparent;
}

.inputLetter::placeholder {
  color: white;
  opacity: 0.5;
}

@keyframes blink {
   50% { border-color: white; } 
}

.inputLetter.focus,
.inputLetter:focus {
    outline: none;
    border-bottom: solid 2px #969696;
    animation: blink .2s step-end infinite alternate;
}
