.container {
    position: fixed;
    width: 100%;    
    background: black;    
    border: solid 2px orangered;    
    margin: 0 auto;
    transform: translate3d(0,-100%, 0);
}

.container.show {
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate3d(0,0%, 0);
}

.title {
    color: orangered;
    text-transform: uppercase;
    text-align: center;
}

.inputBlock {
    text-align: center;
}

.inputLetter {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 25px; /** relative? */
    appearance: none;
    box-shadow: none;
    border-radius: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    background: black;
    color:white;
    border-bottom: solid 2px transparent;
}

.inputLetter::placeholder {
  color: white;
  opacity: 0.5;
}

@keyframes blink {
   50% { border-color: white; } 
}

.inputLetter.focus,
.inputLetter:focus {
    outline: none;
    border-bottom: solid 2px #969696;
    animation: blink .2s step-end infinite alternate;
}


