.enter {
  transform: translateY(-100%);
}

.enter.enterActive {
  transform: translateY(0%);
  transition: transform 400ms cubic-bezier(.67,1.99,.64,.6);
}

.appear {
  transform: translateY(-100%);
}

.appear.appearActive {
  transform: translateY(0%);
  transition: transform 400ms cubic-bezier(.67,1.99,.64,.6);
}

.leave {
  transform: translateY(0%);
}

.leave.leaveActive {
  transform: translateY(1000%);
  transition: transform 1000ms ease-out;
}
