@font-face{
    font-family: 'icomoon';
    src: url('./font/icomoon.eot');
    src: url('./font/icomoon.eot') format('embedded-opentype'), url('./font/icomoon.woff') format('woff'), url('./font/icomoon.ttf') format('truetype'), url('./font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


.icon {
    font-size: 30px;
    display: block;
    font-family: 'icomoon';
}

.trophy:before {
    content: "\e904";
}

.podium:before {
    content: "\e915";
}

.heart.full:before {
    content:"\e91b";
}

.heart:before {
	content: "\e906";
}

.share:before{
    content: "\e91c";
}
