/* colors.css */
@value header_background: #00c1e2;
@value header_foreground: #e7e7f9;
@value background: #121721;
@value foreground: #ffffff;

@value trophy_color:#e7f943;
@value podium_color:header_background;

@value purple_gameasy: #f84975;
@value blue_gameasy: #6482c4;


@font-face{
    font-family: 'montserratultra_light';
    src: url('../font/montserrat-ultralight-webfont.eot');
    src: url('../font/montserrat-ultralight-webfont.eot') format('embedded-opentype'), url('../font/montserrat-ultralight-webfont.woff') format('woff'), url('../font/montserrat-ultralight-webfont.ttf') format('truetype'), url('../font/montserrat-ultralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gameover {
    composes: gameover from './default.css';

    font-family: 'montserratultra_light';
    background-color: background;
    color: foreground;
}

.gameover_show {
    composes: gameover_show from './default.css';
}

.gameover_hide {
    composes: gameover_hide from './default.css';
}

.header {
    composes: header from './default.css';
    background: header_background;
    color: foreground;
}

h1{
    font-size:22px;
    font-weight: 400;
    margin: 0;
}

h2{
    font-size:22px;
    font-weight: 400;
    margin: 0;
}

h3{
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    font-size:16px;
    color: foreground;
}

.divider {
	composes: divider from './default.css';
}

.scoreContainer {
    composes: scoreContainer from './default.css';
}

.trophy{
    color:#e7f943;
}

.podium{
    color: header_background;
}

.icon_like{
    color: purple_gameasy;
}

.icon_share{
    color: blue_gameasy;
}

/* button */

.btn {
    background: purple_gameasy;
    color: foreground;
    border-radius: 20px;
    font-family: 'montserratultra_light', Verdana, Geneva, sans-serif;
}

.btn_outline{
    composes: btn;
    width: 90px;
    background: transparent;
    border: solid 2px;
    line-height: 38px;
}

.btn_like {
    composes: btn_outline;
	color: purple_gameasy;
    border-color: purple_gameasy;
}

.btn_share {
    composes: btn_outline;
	color: blue_gameasy;
    border-color: blue_gameasy;
}