/* custom */
@value purple_gameasy: #f84975;
@value blue_gameasy: #6482c4;

/* base */

@value font_family: montserratultra_light, Verdana, Geneva, sans-serif;

@value background: #1e3050;
@value foreground: #ffffff;

@value header_background: #ff8000;
@value header_foreground: #e7e7f9;

@value trophy_color:#e7f943;
@value podium_color:header_background;

@value button_background: #ff8000;
@value button_foreground: #ffffff;

@value button_outline_background: transparent;
@value button_outline_foreground: transparent;

/* classes */

@font-face{
    font-family: 'montserratultra_light';
    src: url('../font/montserrat-ultralight-webfont.eot');
    src: url('../font/montserrat-ultralight-webfont.eot') format('embedded-opentype'), url('../font/montserrat-ultralight-webfont.woff') format('woff'), url('../font/montserrat-ultralight-webfont.ttf') format('truetype'), url('../font/montserrat-ultralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gameover {
    composes: gameover from './default.css';

    font-family: font_family;
    background-color: background;
    color: foreground;
}

.gameover_show {
    composes: gameover_show from './default.css';
}

.gameover_hide {
    composes: gameover_hide from './default.css';
}

.header {
    composes: header from './default.css';
    background: header_background;
    color: foreground;
}

.divider {
	composes: divider from './default.css';
}

.scoreContainer {
    composes: scoreContainer from './default.css';
}

.trophy{
    color:#e7f943;
}

.podium{
    color: header_background;
}

.icon_like{
    color: purple_gameasy;
}

.icon_share{
    color: blue_gameasy;
}

/* related */

.related{
    composes: related from './default.css';
}

/* button */

.btn {
    background: button_background;
    color: button_foreground;
    border-radius: 20px;
    font-family: font_family;
}

.btn_outline{
    composes: btn;
    width: 90px;
    background: button_outline_background;
    border: solid 2px;
    line-height: 38px;
    color: button_outline_foreground;
    border-color: button_outline_foreground;
}

.btn_like {
    composes: btn_outline;
}

.btn_share {
    composes: btn_outline;
    border-color: button_outline_foreground;
    color: blue_gameasy;
}