/* custom */



/* base */

@value font_family: HelveticaNeue-Bold, Verdana, Geneva, sans-serif;

@value background: #ffffff;
@value foreground: #000000;

@value header_background: #ffffff;
@value header_foreground: #000000;

@value trophy_color:#ffffff;
@value podium_color:#ffffff;

@value button_background: #ffffff;
@value button_foreground: #000000;

@value button_outline_background: #ffffff;
@value button_outline_foreground: #000000;

  

.gameover {
    composes: gameover from './default.css';

    font-family: font_family;
    background-color: background;
    color: foreground;
}

.gameover_show {
    composes: gameover_show from './default.css';
}

.gameover_hide {
    composes: gameover_hide from './default.css';
}

.header {
    composes: header from './default.css';
    background: header_background;
    color: foreground;
    font-weight: bold;
}

h1{
    font-weight:bold !important;
}

.divider {
	composes: divider from './default.css';
}

.scoreContainer {
    composes: scoreContainer from './default.css';
}

.trophy{
    color: #f13268;
    background: linear-gradient(to right, #fd950d, #f87112, #f04f14, #f13268, #fb2da2, #ea2e2e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.podium{
    color: #f13268;
    background: linear-gradient(to right, #fd950d, #f87112, #f04f14, #f13268, #fb2da2, #ea2e2e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

/* button */

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.btn {
    background: button_background;
    color: button_foreground;
    font-family: font_family;
    text-transform: capitalize;
    font-weight: bold;
    color:#ffffff;

    background-image: linear-gradient(to right, #fd950d, #f87112, #f04f14, #f13268, #fb2da2, #ea2e2e);
    border:none;
    background-size: 200% 100%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

.btn_outline{
    composes: btn;
    width: 90px;
    background: button_outline_background;
    border: solid 2px;
    line-height: 38px;
    color: button_outline_foreground;
    border-color: button_outline_foreground;
}

.btn_like {
    composes: btn_outline;
}

.btn_share {
    composes: btn_outline;
    border-color:header_foreground;
    color:header_foreground;
}