.btn {
  cursor: pointer;
  user-select: none;  
  position: relative;
  width: 100px;
  line-height: 40px;
  border: 0;
  margin: 0;
  outline: none;
  white-space: nowrap;
  font-size: 20px;
  font-family: 'montserratultra_light', Verdana, Geneva, sans-serif;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  transition: background-color 0.5s ease;
  
}

.btn:disabled {
  pointer-events: none;
  background-color: #666666;
  background-color:rgba(102, 102, 102, .5);
  color: #cccccc;
  opacity: 0.5;
}

.centerBtn {
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -25%;
}

.btn.active .ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255,255,255, 0.4);
  animation: ripple 0.25s linear;
}

@keyframes ripple {
  to {
    transform: scale(3.5);
    opacity: 0;
  }
}