@value colors: './colors.css';
@value foreground_white from colors;

.btnGameasy {
    composes: btn from './button.base.css';
    border-color: #f84975;
    background: #f84975;
    text-transform: uppercase;
    margin-top: -21px;
    color: foreground_white;
    font-family: 'montserratultra_light';
    width: 90px;
}

.centerBtn {
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%);
}