@value colors: './colors.css';
@value foreground_white, purple_gameasy, blue_gameasy from colors;

.btnGameasy {
    composes: btn from './button.base.css';
    border-color: purple_gameasy;
    background: purple_gameasy;
    text-transform: uppercase;
    color: foreground_white;
    font-family: 'montserratultra_light';
    width: 100%;
}

.btnGameasy.active{
    transform: scale(0.9)
}

.centerBtn {
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -25%;
}

.centerBlock {
    display: table;
    margin: auto;
}

.likeButton {
    composes: btn from './button.base.css';
	color: purple_gameasy;
    width: 90px;
    border-color: purple_gameasy;
    background: transparent;
    border-radius: 20px;
}

.shareButton {
    composes: btn from './button.base.css';
	color: blue_gameasy;
    width: 90px;
    border-color: blue_gameasy;
    background: transparent;
    border-radius: 20px;
}