@value colors: './colors.css';
@value foreground_white, background_cyan from colors;

.gameover * {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.gameover ul {
    list-style-type: none;
}

.gameover {
    position: relative;
    font-family: 'montserratultra_light';
    background-color: #121721;
    transform: scale(0);
    transition: transform 200ms;
    color: foreground_white;
    margin:0 auto;
}

.gameover i {
    font-family: 'icomoon';
}

.gameover.show {
    transform: scale(1);
}

.gameover.hide {
    transform: scale(0);
}

.header {
    background: background_cyan;
    height: 60px;
    color:foreground_white;
    clear: both;
}

.header h1 {
    text-align: center;
}