@font-face{
    font-family: 'montserratultra_light';
    src: url('./montserrat-ultralight-webfont.eot');
    src: url('./montserrat-ultralight-webfont.eot') format('embedded-opentype'), url('./montserrat-ultralight-webfont.woff') format('woff'), url('./montserrat-ultralight-webfont.ttf') format('truetype'), url('./montserrat-ultralight-webfont.svg') format('svg');
    font-weight: normal;font-style: normal;
}

@font-face{
    font-family: 'icomoon';
    src: url('./icomoon.eot');
    src: url('./icomoon.eot') format('embedded-opentype'), url('./icomoon.woff') format('woff'), url('./icomoon.ttf') format('truetype'), url('./icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gameover{
    font-family: 'montserratultra_light';
    background-color: #121721;
    transform: scale(0);
    transition: transform 200ms;
    color: #e7e7f9;
}

.gameover i{
    font-family: 'icomoon';
}

.gameover.show{
    transform: scale(1);
}

.gameover.hide{
    transform: scale(0);
}

.header{
    background:#00c1e2;
    height: 60px;
    color:#e7e7f9;
    clear: both;
}