@value width: 60px;
@value borderRadius: 30px;

.menu {
    z-index: 999;
    position: fixed;    
    cursor: pointer;
    width: width; 
    height: width;
    transform: scale(0);
    transition: transform 100ms;
    overflow: hidden;
    border-radius: borderRadius;
}

.menu.show {
    transform: scale(1);
}

.menu.show.active{
    transform: scale(0.9);
}

.menu.hide {
    transform: scale(0);
}

.menu_g5 {
    composes: menu;
    background-image: url('../img/sprite_g5.png');
    background-image: url('../img/sprite_g5.svg');
}

.menu_gameasy {
    composes: menu;
    background-image: url('../img/sprite_gameasy.png');
    background-image: url('../img/sprite_gameasy.svg');
}