@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

@keyframes pop-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0);}
}

.menu {
    background-position: -5px -475px;
    margin-top: -22px;
    z-index: 10;
    position: fixed;    
    cursor:pointer;
    width: 60px; 
    height: 60px;
    transform: scale(0);
    transition: transform 100ms;
}

.menu.show {
    transform: scale(1);
}

.menu.show.active{
    transform: scale(0.9);
}

.menu.hide {
    transform: scale(0);
}

.menu_g5 {
  composes: menu;
  background-image: url('../img/sprite_g5.png');
}

.menu_gameasy {
  composes: menu;
  background-image: url('../img/sprite_gameasy.png');
}