@value btn_foreground: #00C1E2;

@font-face{
    font-family: 'montserratultra_light';
    src: url('../../Gameover/font/montserrat-ultralight-webfont.eot');
    src: url('../../Gameover/font/montserrat-ultralight-webfont.eot') format('embedded-opentype'), url('../../Gameover/font/montserrat-ultralight-webfont.woff') format('woff'), url('../../Gameover/font/montserrat-ultralight-webfont.ttf') format('truetype'), url('../../Gameover/font/montserrat-ultralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
}

/* .header{
    position: fixed;
    height:30px;
    text-align: center;
    font-size: 20px;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    padding:20px;
    color:white;
    background-color: rgba(0,0,0);
    z-index: 1000;
    font-family: 'montserratultra_light';
    font-weight: bold;
} */

.hide{
    display:none;
}

.show{
    display:block;
}

.container{
    font-family: 'montserratultra_light';
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1001;
}

.close{
    margin:0px;
    transition: all;
    height:0px;
    opacity:0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.open{
    margin:0px;
    transition: all;
    height:350px;
    opacity:1;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.list{
    list-style-type: none;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}




.list li{
    margin: 50px 10px;
    position: relative;
    width: 100%;
    text-align: right;
    margin-left: -82px;
    
}

.list li a{
    text-decoration: none;
    color: btn_foreground;
    padding: 100px;
    text-align: right;
}

.list li a:before{
    content:"";
    display:block;
    height: 50px;
    width: 50px;
    background: btn_foreground;
    border-radius:50%;
    position:absolute;
    left:100%;
    top:-5px;
    box-shadow: 0px 0px 15px #000;
}

.master{
    border-radius: 50%;
    background: btn_foreground;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    position: relative;
    float: right;
    margin-bottom: 36px;
    margin-right: 24px;
    z-index: 1002;
    box-shadow: 0px 0px 15px #000;
    font-weight: bold;
    font-size:35px;
}