@value btn_color: #FFFFFF;
@value btn_text: #00C1E2;
@value label_border_color: #00C1E2;
@value label_color: #00C1E2;
@value label_text: #FFFFFF;
@value btn_shadow: 0px 0px 30px #000;
@value overlay: rgba(0,0,0,0.6);
@value speed: 0.3s;
@value icon_radius: 70px;

@font-face{
    font-family: 'montserratultra_light';
    src: url('../../Gameover/font/montserrat-ultralight-webfont.eot');
    src: url('../../Gameover/font/montserrat-ultralight-webfont.eot') format('embedded-opentype'), url('../../Gameover/font/montserrat-ultralight-webfont.woff') format('woff'), url('../../Gameover/font/montserrat-ultralight-webfont.ttf') format('truetype'), url('../../Gameover/font/montserrat-ultralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: overlay;
    z-index: 1000;
}

.hide{
    display:none;
}

.show{
    display:block;
}

/* .container{
    font-family: 'montserratultra_light';
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1001;
} */

.close{
    margin: 0px;
    transition: all;
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    position: absolute;
    bottom: -420px;
}

.open{
    margin: 0px;
    transition: all;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    position: absolute;
    bottom: 160px;
}

/* .container_list{
    height: 460px;
    position: absolute;
    bottom: 56px;
    right: 3px;
    overflow: hidden;
} */

.list{
    font-family: 'montserratultra_light';
    list-style-type: none;
    transition: all;
    transition-duration: speed;
    transition-timing-function: ease-in-out;
    width:250px;
    z-index:1000;
    position: absolute;
    right:35px;
}

.item{
    padding: 100px;
}

.plus{
    font-family: 'montserratultra_light';
    border-radius: 50%;
    background: btn_color;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    color: btn_text;
    position: absolute;
    margin-bottom: 36px;
    margin-right: 24px;
    z-index: 1002;
    box-shadow: btn_shadow;
    font-weight: bold;
    font-size: 45px;
    bottom: 0px;
    right: 0px;
}


.label{
    width: 120px;
    float: left;
    background: label_color;
    border: solid medium;
    border-radius: 5px;
    padding: 8px;
    margin-top: 15px;
    color: label_text;
    border-color: label_border_color;
    text-align: center;
    font-weight: bold;
    box-shadow: btn_shadow;
}

.icon{
    display:block;
    height: icon_radius;
    width: icon_radius;
    background: btn_color;
    border-radius:50%;
    box-shadow: btn_shadow;
    float: right;
    line-height: icon_radius;
    text-align: center;
}

.icon_image{
    height: 70px;
}

.arrow{
    width: 18px;
    height: 18px;
    background: label_color;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 4px;
    position: absolute;
    right: 0px;
    margin-top: 25px;
    margin-right: 102px;
}

.circle{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FFFFFF;
}

.search{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:orange;
}

.startgame{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:blue;
}

.homepage{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:green;
}
.account{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:violet;
}
