.menu {
    composes: menu from './default.css';
    /*background-image: url('../img/sprite_gameasy.png');*/
    transition: transform 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55); /** easeOutElastic */
    background-image: url('./sprite_bandai.svg');
}

.show {
    composes: show from './default.css';
}

.active{
    composes: active from './default.css';
}

.hide {
    composes: hide from './default.css';
}