.menu {
    composes: menu from './default.css';
    background-image: url('./sprite_g5.png');
    background-image: url('./sprite_g5.svg');
}

.show {
    composes: show from './default.css';
}

.active{
    composes: active from './default.css';
}

.hide {
    composes: hide from './default.css';
}